.App {
  text-align: center;
}
#bitcoin{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  margin-top: 3rem;
  overflow: hidden;
  
  transform:translateY(0px);
  animation: float 6s ease-in-out infinite;

  
}


@keyframes float{
  0%{
    
    transform: translateY(0px);

  }
  50%{
    
    transform: translateY(-40px);

  }
  100%{
    
    transform: translateY(0px);

  }
}